@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Sofia+Sans+Semi+Condensed:wght@1;100;200;300;400;500;600;700;800&display=swap');
@import './floatAnimation.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Sofia+Sans+Semi+Condensed:wght@1;100;200;300;400;500;600;700;800&display=swap');
}

@font-face {
    font-family: 'NeuropolX';
    src: url('./assets/fonts/neuropol-x-rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NeuropolX, Regular', sans-serif !important;
}